header{
    height: 5rem;
   background:linear-gradient(#5c65c9 ,#2c2626);
}

header h1{
    line-height: 5rem;
    vertical-align: middle;
    color: rgb(12, 194, 194);
}

main{
   /*  height: calc(100vh - 5rem); */
    background:linear-gradient(#cccaca, #2c3597);

}


.my-card{
    border-radius: 2rem;
    width: 20rem;
    height: 30rem;
    background:linear-gradient(#C7C1BE,#c7c1bec4, #2c3597)
}

div.my-card div img{
  
   border-radius:2rem 2rem 0 0  ;
}